{% extends "base-site-fullscreen.html" %}

{% block title %} Login {% endblock %} 

{% block content %}

  <div class="row">
    <div class="col col-login mx-auto">
      <div class="text-center mb-6">
        <img src="/static/assets/demo/brand/tabler.svg" class="h-6" alt="">
      </div>
      
      <form class="card" action="" method="post">

        {{ form.hidden_tag() }}

        <div class="card-body p-6">
          <div class="card-title text-center">

            {% if msg %}
              {{ msg | safe }}
            {% else %}
            <span>
              Use default credentials: <strong>test / pass</strong>
              <br />
              OR <strong><a href={{ url_for('base_blueprint.create_user') }} >create your own user</a></strong>
            </span>
            {% endif %}  
            
          </div>

          <div class="form-group">
            <label class="form-label">Username</label>
            {{ form.username(class="form-control") }}
          </div>
          
          <br />

          <div class="form-group">
            <label class="form-label">
              Password
            </label>
            {{ form.password(class="form-control", type="password") }}
          </div>

          <div class="form-group">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" />
              <span class="custom-control-label">Remember me</span>
            </label>
          </div>
          <div class="form-footer">
            <button type="submit" name="login" class="btn btn-primary btn-block">Login</button>
          </div>
        </div>
      </form>
      <div class="text-center text-muted">
        Don't have account yet? <a href={{ url_for('base_blueprint.create_user') }} >Register</a>

        <br />
        <a href="https://appseed.us/admin-dashboards/flask-dashboard-tabler">Flask Dashboard Tabler</a> - coded by AppSeed.
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
